@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
	@apply h-full;
	@apply m-0;
	@apply text-neutral-100 font-light;
	@apply select-none;
}

html {
	@apply bg-gradient-to-b from-neutral-800 to-neutral-900 h-full;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	scrollbar-color: rgb(82 82 82), transparent;
}

html::after {
	content: "";
	background: url("/img/bg.png");
	background-size: auto 100%;
	@apply md:block hidden;
	@apply bg-no-repeat bg-[right_-6rem_top];
	@apply opacity-[7.5%] top-0 bottom-0 right-0 left-0 absolute -z-50;
}

#root {
	@apply h-full;
}

::-webkit-scrollbar {
	@apply w-1 md:w-2 h-1 md:h-2;
}

::-webkit-scrollbar-track {
	@apply bg-opacity-0;
}

::-webkit-scrollbar-thumb {
	@apply bg-neutral-600;
}
